# Python
__pycache__/
*.pyc
.venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
dist/

# Node
node_modules/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars

# Local
.env
.env.*
!.env.example
